SECRET_KEY=

DEBUG=true

ALLOWED_HOSTS=127.0.0.1

#DB connections

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


#EMAIL SETTING

EMAIL_HOST=
EMAIL_PORT=

DB_TIME_ZONE=EST
